In [12]:
import pandas as pd
import numpy as np

In [13]:
dataset = pd.read_csv('iris.csv')

In [14]:
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [22]:
dataset

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [24]:
from sklearn.model_selection import train_test_split

X = dataset[['petal_length', 'petal_width']]
y = dataset[['species']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X.shape)
print(X_train.shape)
print(X_test.shape)

(150, 2)
(120, 2)
(30, 2)

In [25]:
X_train.head()

    petal_length  petal_width
22           1.0          0.2
15           1.5          0.4
65           4.4          1.4
11           1.6          0.2
42           1.3          0.2

In [26]:
y_train.head()

            species
22      Iris-setosa
15      Iris-setosa
65  Iris-versicolor
11      Iris-setosa
42      Iris-setosa

In [27]:
X_train.to_csv("iris_train.csv")
X_test.to_csv("iris_test.csv")